__pycache__
*.pth
*.pt
*.pyc
*.ckpt
keyframeidx.txt
SUMMARY
.vscode
*.code-workspace
*test.sh
build
log
evaluate_on*
depth_estimator
wandb
*.egg*
*.DS_Store

*test.yaml
test*.yaml
datasets
cull_replica_mesh
euler
eval_ssim
output
slurm

configs/local